/* General stuff */
* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

body{
	margin:0;
	font-family: 'Josefin Slab', serif;
}

/* Stuff that applies to every viewport */
.topheader{
	padding-top:0;
	padding-bottom:0;
	background-color: #328305;
	color:white;
	font-size:80%;
}

.topheader-menu-1{
	text-decoration: none;
}

.topheader-menu-1 li{
	list-style-type: none;
	display:inline;
}

.topheader-menu-2{
	text-decoration: none;
}

.topheader-menu-2 li{
	list-style-type: none;
	display:inline;
	padding-right:5%;
}

#brand-name{
	text-align: center;
	margin:auto;
}

#brand-name h1{
	margin-bottom:0;
}

#brand-name h3{
	margin-top:0;
}

.menu{
	padding:0;
}

.menu-list{
	text-align: center;
	margin:auto;
	border-bottom-style: solid;
	border-bottom-color:#328305;
}

.menu-list li{
	display: inline-block;
	width: 15%;
	position: relative;
	min-height: 100px;
	/*background: #ccc;*/
	padding-top: 5%;
}

.menu-list li a{
	text-decoration: none;
	color:initial;
}

.menu-list li a:hover{
	color:#328305;
}

.menu-list li a:active{
	color:#328305;
}

.diensten{
	text-align: center;
}


/* Images */
img {
    width: 100%;
    height: auto;
}

#image-header{
	border-bottom-style: solid;
	border-bottom-color:#e0e0e0;
}

/* Fonts */

/* Desktop view */
@media only screen and (min-width: 768px) {
	[class*="col-"] {
	        width: 100%;
	    }

    .col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	/*body{
		background-color: yellow;
	}*/
}


/* Tablet view */
@media only screen and (max-width: 767px) and (min-width: 460px) {
    .col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}

/*	body{
		background-color: red;
	}*/
}

/* Mobile phone view */ 
@media only screen and (max-width: 459px) {
    /*body {
        background-color: lightblue;
    }*/
}